@* Goes in Views\PersonList\EditorTemplates *@
@using EditableListMvc.Models
@model Person
    <tr>
        <td>
            @Html.HiddenFor(model => model.PrimaryKey)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </td>
        <td>
            @Html.EditorFor(model => model.Remove)
        </td>
    </tr>
